:root{
  --darker-pink: #f0a8bb;
  --lighter-pink: #f9dde0;
  --blue: #92b2ba;
  --tag-footer-bg: #eeeeee;
  --tag-text: #777777;
  --banner-img: url("https://i.imgur.com/BrtVHqy.png")
  --banner-text-img: url("https://i.imgur.com/U8tiT5X.png")
  --logo: url("https://i.imgur.com/KxfWH9J.png")
  background: whitesmoke;
}
.App {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
